<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Designftw Chatroom</title>
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.32/dist/vue.esm-browser.js",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@1.2.0/dist/browser/index.js",
                    "@graffiti-garden/implementation-decentralized": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-decentralized@0.0.9/dist/browser/index.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@1.2.2/dist/browser/plugin.mjs"
                }
            }
        </script>
        <script src="index.js" type="module"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">Loading...</div>
        <template id="template">
            <h1>DesignFTW Chatroom</h1>
            <button v-if="!$graffitiSession.value" @click="$graffiti.login()">
                Log In
            </button>
            <template v-else>
                <button @click="$graffiti.logout($graffitiSession.value)">
                    Log Out
                </button>
                <form @submit.prevent="sendMessage()">
                    <input
                        type="text"
                        v-model="myMessage"
                        placeholder="Message"
                        :disabled="isSending"
                    />
                    <input :disabled="!myMessage || isSending" type="submit" :value="isSending ? 'Sending...' : 'Send'"/>
                </form>
            </template>

            <h2>Messages</h2>

            <ul>
                <li v-for="object of sortedMessageObjects">
                    {{ object.value.content }}
                </li>
            </ul>
        </template>
    </body>
</html>
